# IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws

# Compiled class files
out/
target/
build/

# Logs and databases
log/
logs/
*.log
*.log.*
*.db
*.sqlite

# Test report files
test-output/
junit/
surefire-reports/

# Maven files
.mvn/
mvnw
mvnw.cmd

# Gradle files
.gradle/
gradle/
gradlew
gradlew.bat

# Other temporary files
temp/
tmp/
*.tmp
*.bak
*.swp
