.operator-button {
  -fx-background-color: #FFB347;
}

.border-pane {
  -fx-border-color: black;
  -fx-border-width: 1px;
  -fx-border-style: solid;
}

.result-pane {
  -fx-border-color: black;
  -fx-border-width: 1px;
  -fx-border-style: solid;
  -fx-alignment: center-right; /* Set the text alignment to center-right */
}

.button-pane {
  -fx-padding: 0 0 20 0; /* Set the padding to 0 pixels on the top, right, and left, and 20 pixels on the bottom */
}

.button-hex-dec {
  -fx-background-color: lightblue;
  -fx-text-fill: white;
}

.button-clear {
  -fx-background-color: lightcoral;
  -fx-text-fill: white;
}

